@font-face {
    src: url('cool.otf');
}

.chatbg{
    /* image taken from
    https://www.vectorstock.com/royalty-free-vector/seamless-pattern-with-pink-peaches-and-leaves-vector-26981347 */
    -fx-background-image: url('../images/peach.png');
    -fx-background-size: 800px 600px;
    -fx-background-position: bottom;
}

.input{
    -fx-background-color: #faa07e;
    -fx-background-radius: 15;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-radius: 15;
    -fx-font-family: "Youre So Cool";
    -fx-font-size: 15;
    -fx-prompt-text-fill: #00000070;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.button{
    -fx-background-color: #85c5e5;
    -fx-background-radius: 15;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-radius: 15;
    -fx-font-family: "Youre So Cool";
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
}

.dialog{
    -fx-background-color: #5c4742;
    -fx-background-radius: 15;
    -fx-padding: 15px;
    -fx-border-insets: 15px;
    -fx-background-insets: 5px;
    -fx-border-radius: 15;
    -fx-text-fill: white;
    -fx-font-family: "Youre So Cool";
    -fx-font-size: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
}