.backgroundPic {
     -fx-background-image: url('../images/back.png');
     -fx-background-size: 75% 75%;
     -fx-background-position: bottom center;
     -fx-background: transparent;
}

.messageWindow {
    -fx-border-width: 5.0;
    -fx-border-color: yellow;
    -fx-background-color: #7FFFD4;
    -fx-background-radius: 15;
    -fx-padding: 20px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-radius: 15;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
}

.textfield {
    -fx-border-color: yellow;
    -fx-border-width: 5.0;
    -fx-background-color: #6BFEFF70;
}

.sendButton {
     -fx-background-image: url('../images/sendbutton.png');
    -fx-border-color: yellow;
    -fx-border-width: 5.0;
    -fx-background-color: #6BFEFF70;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}