#HBoxDuke{
    -fx-background-color: #eaeaea;
    -fx-background-image:url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    -fx-font-family: Cambria;
    -fx-font-size: 16;
    -fx-padding: 15, 0, 15, 10;
}

#HBoxUser{
    -fx-background-color: #252a34;
    -fx-background-image:url("https://www.transparenttextures.com/patterns/arabesque.png");
    -fx-padding: 15, 10, 15, 0;
    -fx-font-family: Arial;
    -fx-font-size: 16;
}