# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# text files from testing
/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT

# codestyle checks
checkstyle-8.2-all.jar
cs2030_checks.xml