# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT
src/main/java/Sparkles.class
src/main/java/Task.class
src/main/java/Todo.class
src/main/java/Event.class
src/main/java/Deadline.class

src/main/java/AddCommand.class
src/main/java/AddDeadlineCommand.class
src/main/java/AddEventCommand.class
src/main/java/AddTodoCommand.class
src/main/java/Command.class
src/main/java/DeleteCommand.class
src/main/java/DoneCommand.class
src/main/java/ExitCommand.class
src/main/java/Parser.class
src/main/java/ShowListCommand.class
src/main/java/SparklesException.class
src/main/java/Storage.class
src/main/java/TaskList.class
src/main/java/TaskUnclearCommand.class
src/main/java/Ui.class
