.chatbox{

    -fx-background-color:#333333;
    -fx-min-height:400px;
    -fx-min-width:200px;

}

.label{

    -fx-background-color:purple;
    -fx-text-fill:white;
    -fx-pref-height:20px;
    -fx-pref-width:200px;

}

.button{

    -fx-background-color:purple;
    -fx-text-fill:white;
    -fx-pref-height:25px;
    -fx-pref-width:50px;
    -fx-translate-x:75;
    -fx-translate-y:410;

}