@font-face {
    src: url('../fonts/FiraCode.ttf');
}

@font-face {
    src: url('../fonts/FiraCode-Bold.ttf');
}

.user-dialog-box .label {
    -fx-text-fill: #7851A9;
    -fx-font-family: 'Fira Code Bold';
}

.error-dialog-box .label {
    -fx-text-fill: #FF0000;
}

.label {
    -fx-font-family: 'Fira Code';
}
