.message-right {
    -fx-font: 16px \"Serif\";
    -fx-text-alignment: right;
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-padding: 10;
}
.message-left {
    -fx-font: 16px \"Serif\";
    -fx-text-alignment: left;
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-padding: 10;
}
.error-msg {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
.layout {
    -fx-padding: 10.0 10.0 10.0 10.0;
}