.custom-menu-button {
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-border-width: 1;
    -fx-border-style: none none solid none;
    -fx-border-color: white;
    -fx-fit-to-width: true;
    -fx-font-size: 20;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-pref-width: 180;
}

.wrapper-button {

}
.custom-menu-button:hover {
    -fx-background-color: lightblue;
}