

#scrollPane {
    -fx-background-image: url("../images/wallpaper.jpg");
    -fx-background-size: 75%, 75%;
    -fx-background-position: bottom center;
    -fx-background: transparent;
}

#dialogContainer {
    -fx-padding: 5;
}

#dialog {
    -fx-background-color: lavender;
    -fx-padding: 5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, grey, 5,0,0,1);
    -fx-text-fill: black
}

.persistent-prompt:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}
.no-prompt {
    -fx-prompt-text-fill: transparent !important;
}

.warning {
    -fx-effect: dropshadow(gaussian, red, 10, 0, 0, 1);
}