#dialog {
    -fx-font-size: 14px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight: 700;
    -fx-min-height: 10px;
}

#displayPicture {
    -fx-padding: 2 2 2 2;
}

#userInput {
    -fx-padding: 5 5 5 5;
    -fx-background-color: #45EEDA;
    -fx-border-radius: 30;
}

#sendButton {
    -fx-background-color: #EE4561;
}
