.dialogText {
    -fx-text-fill:black;
    -fx-font-size: 13px;
    -fx-padding: 10px 8px 10px 8px;
    -fx-font-family: "Comic Sans";
    -fx-border-color: rgb(241, 241, 241);
    -fx-background-color: rgb(241, 241, 241);
    -fx-border-style: solid;

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}