/*
    @@author marcustw-reused
    Adapted button and userInput from https://github.com/CodingCookieRookie/ip/blob/master/src/main/resources/view/display.css
    with permission from Alvin Chee Teck Weng for the usage of background gradient and dropshadows.
*/

.anchor {
    -fx-background-image:url('../images/doraemon.gif');
    -fx-background-position: center;
    -fx-border-image-repeat: stretch, stretch;
    -fx-background-size: 100% 100% auto;
}

.scrollPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.vbox {
    -fx-background-color: transparent;
}

.label {
    -fx-text-fill: black;
}

.button {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%);
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.userInput {
    -fx-background-color:  #B8E7FE;
    -fx-text-fill: #2A1A93;
    -fx-font-size: 15px;
    -fx-font-family: "Consolas";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0.0, 0.0);
}