#dialog {
    -fx-padding: 20px;
    -fx-background-color: #fff;
    -fx-background-radius: 10px 10px 10px 10px;
}

#displayPicture {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#dialogContainer {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #D1913C, #FFD194);;
}