.screenStyle {
    -fx-background-color: linear-gradient(to bottom, #E9B934, #F5945C);
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-background: transparent;
}

.buttonStyle {
    -fx-font-family: "Segoe UI Emoji";
    -fx-background-color: white;
    -fx-font-size: 28;
}

.textFieldStyle {
    -fx-background-color: white;
    -fx-font-family: "Lucida Fax Regular";
    -fx-font-size: 13;
}
