#dialog {
    -fx-background-color: honeydew;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-alignment: left;
}


#dialogContainer {
    -fx-background-image:url('/images/background.jpg');
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-attachment: fixed;
}

.sendButton {
    -fx-background-color : #05071F;
    -fx-text-fill : #e7e5e5;
}

.sendButton:hover {
    -fx-background-color : #10165F;
}

.sendButton:pressed{
    -fx-background-color : #1620A1;
}

#userInput {
    -fx-background-color: #35393e;
    -fx-text-fill: white;
}

.root {
    -fx-background-color: #1a1c1e;
}

.scroll-bar{
    -fx-background-color: #1a1c1e;
    -fx-background-insets: 0 0 0 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.scroll-bar: horizontal .increment-button;
.scroll-bar: horizontal .decrement-button{
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;
}

.scroll-bar: vertical .increment-button;
.scroll-bar: vertical .decrement-button{
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding:0.0 0.0 10.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0.0 0.15em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #35393e;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}






