#pane{
    -fx-background-image: url("../images/background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 200 200 ;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}